<div>
  <button
    *ngIf="token !==''" class="btn btn-inverse btn-sm" (click)="goBack()"><span class="fa fa-arrow-left"></span>
  </button>
  <h3 style="display: inline; margin-left: 1em;">{{imageName}}</h3>
</div>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <button class="btn btn-inverse btn-sm" (click)="f.toggle()" type="button">
        <span class="glyphicon glyphicon-calendar"></span> From
      </button>
      <input placeholder="yyyy-mm-dd" style="margin: 1em;" [minDate]="minDate" [maxDate]="maxDate"
             name="dp" [(ngModel)]="from" ngbDatepicker #f="ngbDatepicker" readonly>
      <button class="btn btn-inverse btn-sm" (click)="t.toggle()" type="button">
        <span class="glyphicon glyphicon-calendar"></span> To
      </button>
      <input placeholder="yyyy-mm-dd" style="margin: 1em;" [minDate]="from" [maxDate]="maxDate"
             name="dp" [(ngModel)]="to" ngbDatepicker #t="ngbDatepicker">
      <button class="btn btn-inverse btn-sm" (click)="generateChart()" [disabled]="!to || !from" type="button" readonly title="generate vulnerability chart">
        <span class="fa fa-area-chart"></span>
      </button>
    </div>
  </div>
</form>
<hr>
<div *ngIf="!chartGenerated" class="centeredContent">
  Please select a date range (from/ to) and press the "generate chart button" to generate the chart
</div>
<div *ngIf="chartGenerated">
  <div class="row">
    <div class="col-2-md">
    </div>
    <div class="col-8-md">
      <canvas baseChart width="600" height="300"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"></canvas>
    </div>
    <div class="col-2-md">
    </div>
  </div>
</div>
<div class="row" *ngIf="vulnerabilityEntries.length > 0" style="margin-left: 1em; margin-top: 1em;">
  <div class="row">
    <button class="btn btn-inverse btn-sm" (click)="showVulnDetails()" type="button" readonly>
      <span [ngClass]="vulnerabilityDetailsVisible ? 'fa fa-minus' : 'fa fa-plus'"></span> vulnerability details
    </button>
  </div>
</div>
<div class="row" *ngIf="vulnerabilityDetailsVisible" style="margin-left: 1em;">
  <div *ngFor="let vulnEntry of vulnerabilityEntries; let i = index" [attr.data-index]="i">
    <div class="row" style="margin: 0.2em;">
      <div (click)="updateVisibleEntries(i)" class="label label-default">
        <span [ngClass]="visibleEntries.indexOf(i) === -1 ? 'glyphicon glyphicon-plus' : 'glyphicon glyphicon-minus'">
        </span>
        {{vulnEntry.date | date:'dd/MM/yyyy' }}
      </div>
    </div>
    <div class="row" *ngIf="visibleEntries.indexOf(i) !== -1" style="margin-left: 1em;">
      <h5 *ngIf="vulnEntry.lowSeverity.length > 0">
        Low Severity
      </h5>
      <div *ngFor="let low of vulnEntry.lowSeverity">
        <strong>Dependency path:</strong> {{low.dependencyPath}}
        <br><strong>Description:</strong> {{low.description}}
        <br><strong>Remediation:</strong> {{low.remediation}}<br>
      </div>
      <h5 *ngIf="vulnEntry.mediumSeverity.length > 0">
        Medium Severity
      </h5>
      <div *ngFor="let medium of vulnEntry.mediumSeverity">
        <strong>Dependency path:</strong> {{medium.dependencyPath}}
        <br><strong>Description:</strong> {{medium.description}}
        <br><strong>Remediation:</strong> {{medium.remediation}}<br>
      </div>
      <h5 *ngIf="vulnEntry.highSeverity.length > 0">
        High Severity
      </h5>
      <div *ngFor="let high of vulnEntry.highSeverity">
        <strong>Dependency path:</strong> {{high.dependencyPath}}
        <br><strong>Description:</strong> {{high.description}}
        <br><strong>Remediation:</strong> {{high.remediation}}<br>
      </div>
    </div>
  </div>
</div>

