<div class="row bottomMarginSingleLine">
  <div class="col-md-4">
    <input type="text" placeholder="Search for containers" #imageName (keyup)="filterContainers(imageName.value)" style="width: 100%; margin-top: 0.15em;">
  </div>
  <div class="col-md-8"></div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">Image name <span (click)="sort()" class="glyphicon glyphicon-sort" aria-hidden=true></span></div>
  <div class="col-md-2">Container name</div>
  <div class="col-md-1">Container ID</div>
  <div class="col-md-2">Status</div>
  <div class="col-md-4"></div>
</div>
<div *ngFor="let containerCol of containerCollection" style="margin-bottom: 0.3em" [ngClass]="queriedContainers.indexOf(containerCol.imageName) !== -1 ? 'disabled' : ''">
  <div *ngIf="containerCol.imageName.includes(searchTerm)">
    <hr>
    <div class="row" style="margin-bottom: 0.3em">
      <div class="col-md-3">{{containerCol.imageName}}</div>
      <div class="col-md-9">
        <span *ngIf="extractedSrcContainers.indexOf(containerCol.imageName) !== -1">
          extracting source code <span class="fa fa-spinner fa-spin" style="margin-left: 0.5em;"></span>
        </span>
        <a class="btn btn-primary btn-sm" (click)="checkVulnComp(containerCol.imageName)"
           *ngIf="vulnCompsChecked.indexOf(containerCol.imageName) === -1 && containerCol.vulnComponents.length === 0">
          check vulnerable components
        </a>
        <span (click)="showResultArea(containerCol.imageName, 'vulnerable')" *ngIf="containerCol.vulnComponents.length !== 0">
          Vulnerable components <span [ngClass]="containerCol.resultDisplayed === 'vulnerable' ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open'"></span>
        </span>
        <span *ngIf="vulnCompsChecked.indexOf(containerCol.imageName) !== -1">
          checking for vulnerable components <span class="fa fa-spinner fa-spin" style="margin-left: 0.5em;"></span>
        </span>
        <a class="btn btn-primary btn-sm" style="margin-left: 1em;">
          get installed packages
        </a>
        <a class="btn btn-primary btn-sm" style="margin-left: 1em;">
          run tests
        </a>
        <a class="btn btn-primary btn-sm" style="margin-left: 1em;">
          check OS
        </a>
      </div>
    </div>
    <div class="row" *ngIf="visibleResponseAreas.indexOf(containerCol.imageName) !== -1">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="height: auto; background: lightblue; border: black 1px solid">
        <div *ngIf="containerCol.resultDisplayed === 'vulnerable'">
          <h4>Vulnerable components:</h4>
          <p *ngFor="let vulnerability of containerCol.vulnComponents">
            {{vulnerability}}
          </p>
          <h4>Updates:</h4>
          <p *ngFor="let update of containerCol.updates">
            {{update}}
          </p>
        </div>

        <div *ngIf="containerCol.resultDisplayed === 'packages'" >abcde<br>packages</div>
        <div *ngIf="containerCol.resultDisplayed === 'tests'" >abcde<br>{{containerCol.testResults}}</div>
        <div *ngIf="containerCol.resultDisplayed === 'os'" >abcde<br>{{containerCol.osDetails}}</div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <hr>
    <div *ngFor="let container of containerCol.containers">
      <div class="row" style="margin-bottom: 0.3em" >
        <div class="col-md-3">
          <a [ngClass]="container.state === 'running' ? 'noEvents transparent btn btn-primary btn-sm' : 'btn btn-success btn-sm'"
             (click)="startContainer(container.id)" style="margin-left: 1em;">
            <span class="glyphicon glyphicon-play"></span> start
          </a>
          <a [ngClass]="container.state !== 'running' ? 'noEvents transparent btn btn-primary btn-sm' : 'btn btn-warning btn-sm'"
             (click)="stopContainer(container.id)" style="margin-left: 1em;">
            <span class="glyphicon glyphicon-stop"></span> stop
          </a>
          <a [ngClass]="container.state === 'running' ? 'noEvents transparent btn btn-primary btn-sm' : 'btn btn-danger btn-sm'"
             (click)="removeContainer(container.id)" style="margin-left: 1em;">
            <span class="glyphicon glyphicon-remove"></span> remove
          </a>
        </div>
        <div class="col-md-2">{{container.name}}</div>
        <div class="col-md-1">{{container.id | slice:0:12}}</div>
        <div class="col-md-2">{{container.status}}</div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
