<div class="row">
  <div class="col-md-12">
    <span style="color:rgb(0,255,0)">Grade A: </span>This image does not use components with known vulnerabilities<br>
    <span style="color:rgb(63,192,0)">Grade B: </span>This image uses vulnerable components with low CVSS (Common Vulnerability Scoring System) no longer than 7 days<br>
    <span style="color:rgb(95,160,0)">Grade C: </span>This image uses vulnerable components with low CVSS (no longer than 30 days) or medium CVSS (less than 7 days)<br>
    <span style="color:rgb(160,95,0)">Grade D: </span>This image uses vulnerable components with low CVSS (no longer than 90 days) or medium CVSS (less than 30 days) or high CVSS (less than 7 days)<br>
    <span style="color:rgb(192,63,0)">Grade E: </span>This image uses vulnerable components with low CVSS (no longer than 180 days) or medium CVSS (less than 90 days) or high CVSS (less than 30 days)<br>
    <span style="color:rgb(255,0,0)">Grade F: </span>This image uses vulnerable components with low CVSS (no longer than 360 days) or medium CVSS (less than 180 days) or high CVSS (less than 90 days)<br>
    Grade Unknown: Not enough metadata to establish freshness grade
    <hr>
  </div>

</div>
