button {
  cursor: default;
}

.a_grade {
  background-color:rgb(0,255,0);
}

.b_grade {
  background-color:rgb(63,192,0);
}

.c_grade {
  background-color:rgb(95,160,0);
}

.d_grade {
  background-color:rgb(160,95,0);
}

.e_grade {
  background-color:rgb(192,63,0);
}

.f_grade {
  background-color:rgb(255,0,0);
}

.white {
  background: white;
}
