<div class="btn-group btn-group-justified " role="group">
  <button class="noEvents" [ngClass]="grade ==='A' && tag === 'latest' ? 'a_grade' : 'white'">A</button>
  <button class="noEvents" [ngClass]="grade ==='B' && tag === 'latest' ? 'b_grade' : 'white'">B</button>
  <button class="noEvents" [ngClass]="grade ==='C' && tag === 'latest' ? 'c_grade' : 'white'">C</button>
  <button class="noEvents" [ngClass]="grade ==='D' && tag === 'latest' ? 'd_grade' : 'white'">D</button>
  <button class="noEvents" [ngClass]="grade ==='E' && tag === 'latest' ? 'e_grade' : 'white'">E</button>
  <button class="noEvents" [ngClass]="grade ==='F' && tag === 'latest' ? 'f_grade' : 'white'">F</button>
</div>
