<div style="background: white; color: white; line-height: 3em; margin-bottom: 1em; z-index: 1; position: fixed; top: 3.5em; width: 100%;">
  blank filler
</div>
<div class="row" style="background: #424242; color: white; line-height: 3em; margin-bottom: 1em; z-index: 2; position: fixed; top: 5em; width: 100%;">
  <div class="col-md-4">Image name <span (click)="sort()" class="glyphicon glyphicon-sort" aria-hidden=true></span></div>
  <div class="col-md-1">ID</div>
  <div class="col-md-1">Tag</div>
  <div class="col-md-1">Size</div>
  <div class="col-md-2">Freshness grade <span class="glyphicon glyphicon-info-sign" (mouseenter) ="mouseEnter() "  (mouseleave) ="mouseLeave()"></span></div>
  <div class="col-md-3">Actions</div>
</div>
<div *ngIf="showFreshnessDefinition" style="margin-top: 10em;">
  <app-freshness-definition></app-freshness-definition>
</div>
<div [ngStyle]="{'margin-top' : showFreshnessDefinition ? '0em' : '10em' }">
  <div class="row" *ngFor="let image of images" style="margin-bottom: 0.3em" (mouseenter)="mouseEnterDiv(image.id, image.tag)"  (mouseleave)="mouseLeaveDiv(image.id, image.tag)">
    <div class="col-md-4">{{image.name}}</div>
    <div class="col-md-1">{{image.id | slice:0:12}}</div>
    <div class="col-md-1">{{image.tag}}</div>
    <div class="col-md-1">{{image.size}}</div>
    <div class="col-md-2"><app-freshness-indicator [grade]="image.freshnessGrade" [tag]="image.tag"></app-freshness-indicator></div>
    <div class="col-md-3" [ngClass]="hoveredImageDivId.indexOf(image.id) !== -1 && hoveredImageDivTag.indexOf(image.tag) !== -1 ? '' : 'noEvents transparent'">
      <button title="Create a new container"
              *ngIf="token !=='' && containerService.createdContainerInProgress.indexOf(image.name.concat(':' + image.tag)) === -1" class="btn btn-inverse btn-sm" (click)="createContainer(image.name.concat(':' + image.tag))">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <span
        *ngIf="containerService.createdContainerInProgress.indexOf(image.name.concat(':' + image.tag)) !== -1" class="fa fa-spinner fa-spin" style="font-size:1.5em;">
      </span>
      <button title="show vulnerability chart"
              [ngClass]="image.freshnessGrade ==='' || image.tag !== 'latest' ? 'noEvents transparent btn btn-inverse btn-sm' : 'btn btn-inverse btn-sm'"
              [routerLink]="['/chart', image.name]"><span class="fa fa-area-chart"></span>
      </button>
      <button title="remove image"
              [ngClass]="token ==='' ? 'noEvents transparent btn btn-primary btn-sm' : 'btn btn-primary btn-sm'" (click)="removeImage(image.id)"
              *ngIf="imageService.imageRemovalInProgress.indexOf(image.id) === -1 && (image.freshnessGrade === '' || image.tag !== 'latest')" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span>
      </button>
      <span
              *ngIf="imageService.imageRemovalInProgress.indexOf(image.id) !== -1" class="fa fa-spinner fa-spin" style="font-size:1.5em;">
      </span>
    </div>
  </div>
</div>

