<div class="row">
  <div class="col-md-3">Image name <span class="glyphicon glyphicon-sort" aria-hidden=true></span></div>
  <div class="col-md-1">ID</div>
  <div class="col-md-1">Tag</div>
  <div class="col-md-1">Size</div>
  <div class="col-md-2">Freshness grade <span class="glyphicon glyphicon-info-sign" (mouseenter) ="mouseEnter() "  (mouseleave) ="mouseLeave()"></span></div>
  <div class="col-md-4">Actions</div>
</div>
<hr>
<div *ngIf="showFreshnessDefinition">
  <app-freshness-definition></app-freshness-definition>
  <hr>
</div>
<div class="row" *ngFor="let image of images" style="margin-bottom: 0.3em">
  <div class="col-md-3">{{image.name}}</div>
  <div class="col-md-1">{{image.id | slice:0:12}}</div>
  <div class="col-md-1">{{image.tag}}</div>
  <div class="col-md-1">{{image.size}}</div>
  <div class="col-md-2"><app-freshness-indicator [grade]="image.freshnessGrade"></app-freshness-indicator></div>
  <div class="col-md-4">
    <button class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> new container</button>
    <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-open-eye"></span> show vulnerability chart</button>
    <button *ngIf="image.freshnessGrade == ''" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> remove image</button>
  </div>
</div>
